@import url(../css/header/header.css);
@import url(../css/header/header-section.css);
@import url(../css/body/about-section.css);
@import url(../css/body/skills-bar.css);
@import url(../css/body/tools.css);
@import url(../css/body/my-works.css);
@import url(../css/body/blog.css);
@import url(../css/footer/contact-section.css);
@import url(../css/circles/circles.css);
@import url(../css/media/media.css);


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
    background-color: #fff;
    transition: all .7s ease;
}

main{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0px 15px;
}

footer {
    height: 100%;
    margin-top: 50px;
    background: linear-gradient(to right, rgb(249 240 233) 0%, rgb(245 225 210) 50%, rgb(255 204 167) 100%);
}





