.contact__section {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0px 15px;
    justify-content: center;
}

.contact__section-content {
    padding: 25px 0px;
    width: 600px; 
    max-width: 90vw;
}

.contact__section-content h3 {
    padding-bottom: 10px;
}


input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
    border-radius: 5px;
    box-shadow: 3px 5px 6px 0px rgb(0 0 0 / 12%);
    max-width: 90vw;
  }

  input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 3px 5px 6px 0px rgb(0 0 0 / 12%);
    max-width: 90vw;
  }


  .form__button {
    width: 170px;
    height: 55px;
    cursor: pointer;
    color: whitesmoke;
    box-shadow: 3px 5px 6px 0px rgb(0 0 0 / 12%);
    border-radius: 5px;
    background: linear-gradient(to right, rgb(242,205,175) 0%, rgb(233,193,163) 50%, rgb(225,182,151) 100%);
    border: none;
    outline: none;
  }


.contact__details {
    margin-top: 25px;
    display: flex;
}

.contact__photo img {
    border-radius: 5px;
    display: block;
    margin-left: auto;
    width: 100%;
    height: auto;
}

.contact__details p {
    text-align: right;
}

.contact__details-info {
    width: 220px;
    height: 70px;
    background: #ffffffb4;
    box-shadow: 3px 5px 6px 0px rgb(0 0 0 / 12%);
    border-radius: 5px;
    margin-top: 10vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
    min-width: 210px;
}

.contact__details-text {
    text-align: right;
    font-size: 13px;
    margin-top: -40px;
    margin-right: 10px;
}

.contact__details-info img {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}
