header{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.header{
    position: relative;
    background-color: rgb(204, 200, 200);
    min-height: 100px;
    background-position: right;
    background-repeat: no-repeat;
    background-position: 835px 0px; 
}

.navigation-bar {
    background: linear-gradient(to right, rgb(242,205,175) 0%, rgb(233,193,163) 50%, rgb(225,182,151) 100%);
    width: 960px;
    height: 8vh;
    box-shadow: 3px 5px 6px 0px rgb(0 0 0 / 12%);
    display: flex;
    align-items: center;
    border-radius: 5px;
    max-height: 65px;
    transition: all 0.5 ease; 
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}
.header__inner .logo{
    font-weight: bold;
    font-size: 75px;
    color: rgb(160, 160, 160);
    margin-right: 5px;
}

.splitter  {
     width: 1px;
     height: 50px;
     background-color: whitesmoke;  
 }
    
.navigation-bar nav ul li {
    min-width: fit-content;
}


.icon i {
    font-size: 17px;
}

.social ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

span {
    color: #f1c38d;
}

.social ul li {
    list-style: none;
    margin: 0px 15px;
}

.social ul li .fab {
    size: 30px;
    color: whitesmoke;
    font-size: 25px;
}

.navigation-bar nav ul{
    margin: 0;
    padding: 3px;
    display: flex;
    align-items: center;justify-content: space-around;
    width: 960px;
}
.navigation-bar nav ul li{
    list-style-type: none;
}
.navigation-bar nav ul li a{
    font-size: 14px;
    color: whitesmoke;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
}

.navigation-bar nav ul li.switch a{
    position: relative;
    width: 45px;
    height: 24px;
    border: 1px solid whitesmoke;
    border-radius: 10em;
    padding: 0;
    margin-top: 5px;
    overflow: hidden;
}

.navigation-bar nav ul li.switch a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: whitesmoke;
    border-radius: 10em;
    transition: all .5s ease;
    color: whitesmoke;
}

body.switchMode .navigation-bar nav ul li.switch a:after {
    left: 20px;
}

.switchMode .author{
    color:black;
  }
  .switchMode span{
    color:black;
  }
  .switchMode .subtitle {
    color:black;
  }
   
body.switchMode{
    background-color: rgb(204, 200, 200);
}



.navigation-bar-list__item {
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

