.header__body{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

.header__body-inner{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    flex-wrap: wrap;
}

.header__body-inner .content-container .modal-window{
    color: #333;
    font-size: 46px;
    transition: all .5s ease;
}



 .content-container {
   margin-bottom: 25px;
} 

a.btn {
    padding: 15px 30px;
    text-decoration: none;
    width: 170px;
    height: 55px;
    text-align: center;
    margin-top: 5px;
}

.header__body-inner .photo-container img{
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.btn {
    color: whitesmoke;
    box-shadow: 3px 5px 6px 0px rgba(0,0,0,0.12);
    border-radius: 5px;
    background: rgb(242,205,175);
    background: linear-gradient(to right, rgb(242,205,175) 0%, rgb(233,193,163) 50%, rgb(225,182,151) 100%);
}

.modal-window {
    width: 970px;
    height: 200px;
    background: #ffffffb4;
    text-align: center;
    position: absolute;
    right: 0;
    margin: auto;
    box-shadow: 3px 5px 6px 0px rgba(0,0,0,0.12);
    border-radius: 5px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
    display: block;
    top: 5vh;
  }
  
.modal-window__content {
    text-align: left;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 20px;
}

.modal-window__content span {
    font-size: 20px;
}

.modal-window__content p {
    font-size: 14px;
}

.modal-window__content-icons {
    size: 10px;
    display: block;
    float: right;
    margin-top: -10px;
}


.modal-window__content-icons::before {
    content: 'See my works';
    font-size: 14px;
    margin-left: -100px;
    margin-top: 20px;
    position: absolute;
}