
@media (max-width:1114px ) {
    .navigation-bar-list__item {
        display: block;
        z-index: 999;
    }
    .navigation-bar-list__item i.active:before{
        content: "\f00d";
    }

    .navigation-bar .navigation-bar__list {
        position: fixed;
        height: 100vh;
        width: 100vw;
        left: -100%;
        top: 0;
        background:linear-gradient(to right, rgb(242,205,175) 0%, rgb(233,193,163) 50%, rgb(225,182,151) 100%);
        text-align: center;
        padding-top: 80px;
        transition: left 0.5s ease;
        z-index: 999;
        flex-direction: column;
        visibility: hidden;
    }

    .navigation-bar .navigation-bar__list.active {
        left: 0; 
        z-index: 999;
        visibility: visible;
    }
    .navigation-bar .navigation-bar__list li {
        display: block;
    }
    .navigation-bar .navigation-bar__list li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 20px;
    }
    .navigation-bar .navigation-bar__list .switch {
        display: none;
    }

    .navigation-bar {
        background: none;
        box-shadow: none;
        width: 30px;
    }

    .splitter {
        width: 50px;
        height: 1px;
    } 
}


@media (max-width:1022px) {
    .modal-window {
        display: none;
    }
}

@media (max-width:1145px) {
    .contact__section {
        flex-wrap: wrap;
    }
}

@media (max-width:900px) {
    main{
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .contact__details {
    flex-wrap: wrap;
    }

    .blog__content  {
        flex-wrap: wrap;
        justify-content: center;
    }

    .blog__post{
        margin-top: 15px;
    }
}

@media (max-width: 800px) {
    .circle img , .circle_1 img, .circle_2 img ,
    .circle_3 img, .circle_4 img , .circle_5 img , 
    .circle_6 img , .circle_7 img , .circle_8 img {
        display: none;
    }
}

