.circle img {
    position: absolute;
    left: -5vw;
    top: -10vh;
    width: 30%;
    height: auto;
    z-index: 3;
  }

.circle_1 img {
    position: absolute;
    left: 50vw;
    top: 9vh;
    width: 34%;
    height: auto;
    z-index: -1;
}
.circle_2 img {
    position: absolute;
    left: 44vw;
    top: 56vh;
    width: 15%;
    height: auto;
    z-index: -1;
}

div.circle_3 img {
    position: absolute;
    left: 64vw;
    top: 71vh;
    z-index: -1;
    width: 30%;
    height: auto;
  }

  div.circle_4 img {
    position: absolute;
    left: -14vw;
    top: 95vh;
    width: 27%;
    height: auto;
  }

  div.circle_5 img {
    position: absolute;
    right: 3vw;
    top: 123vh;
    width: 19%;
    height: auto;
  }

  div.circle_6 img {
    position: absolute;
    left: 56vw;
    top: 167vh;
    width: 30%;
    z-index: -1;
    height: auto;
  }

  div.circle_7 img {
    position: absolute;
    left: -3vw;
    top: 236vh;
    width: 26%;
    height: auto;
    z-index: -1;
  }

  div.circle_8 img {
    position: absolute;
    left: 50vw;
    top: 265vh;
    width: 25%;
    height: auto;
  }