.aboutme {
    padding: 25px 0px;
    width: 600px;
}

.aboutme p {
    margin-bottom: 10px;
}

.aboutme li {
    list-style: none;
    font-size: 15px;
}

.aboutme li:before {
    content: "·";
    font-size: 25px;
    vertical-align: middle;
    line-height: 20px;
    margin: 5px;
}

.aboutme a{
    display: block;
    float: right;
}

.aboutme__button {
    float: right;
}

.aboutme__button h5 , a {
    vertical-align:middle;
    display:inline-block;
}

.aboutme__button h5 {
    margin-top: 20px;
}
