.blog {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}


.blog__head {
    width: 600px;
    margin-top: 30px;
}

.blog__content  {
	margin-top: 20px;
    display: flex;
}

.blog__post {
	padding-left: 15px;
}


.readmore {
	display:inline-block;
	background:url(images/txtbtn.png) no-repeat;
	height:17px;
	width:79px;
	text-align:center;
	font:0.75em "Trebuchet MS", Arial, Helvetica, sans-serif;
	padding-top:2px;
}

.subtitle  {
    color: #f1c38d;
}


#featuredpost_1 {
	margin-top: 20px;
    display: flex;
}


.blog__post  .arrow {
    padding: 10px 25px 10px 10px;
    position: relative;
    text-decoration: none;
    color: #f1c38d;
}

.blog__post  .arrow:before, .arrow:after {
    border-right: 2px solid;
    content: '';
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
}

.blog__post .arrow:after {
    margin-top: -1px;
    transform: rotate(45deg);
}


.author {
    float: right;
    color: #f1c38d;
}

.blog__post  h3, p.author {
    display: inline-block;
    padding-top: 10px;
}


.blog__img img {
    border-radius: 5px;
    box-shadow: 3px 5px 6px 0px rgba(0,0,0,0.12);
}

