.portfolio {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

.portfolio__content {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    max-width: 1140px;
    margin: 0 auto;
}

.portfolio__content-items {
    flex: 0 1 calc(100% / 3 - 10px);
    min-height: 100px;
    margin-bottom: 20px;
    margin-top: 50px;
    box-shadow: 3px 5px 6px 0px rgba(0,0,0,0.12);
    border-radius: 5px;
    background: #fff;
    height: 280px;
    padding: 10px;
    position: relative;
    transition: .6s ease-out;
}

.portfolio__content-links {
    display: flex;
    position: absolute;
    z-index: 7;
    right: 0;
}

.portfolio__content-links img {
    width: 50px;
    height: 50px;
}

.portfolio__content-items:hover {
    transform: translateY(15px);
}

.portfolio__content-items:hover::before {
    opacity: 1;
}

.portfolio__content-items:hover .portfolio__content-text {
    opacity: 1;
    transform: translateY(0);
}

.portfolio__content-items:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: 0.5s;
    opacity: 0;
    background-color: #f2cdafc7;
    border-radius: 5px;
}

.portfolio__content-items:hover .pic_1  {
    filter: brightness(0) invert(1)
}

.portfolio__content-items .portfolio__content-img {
    top: 10px;
    left: 10px;
    object-fit: cover;
}


.portfolio__content-items .portfolio__content-text {
    position: absolute;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.5s ease;
    text-align: center;
    font-size: 18px;
    top: 0;
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
}

.portfolio__content-text h4 {
    color: black;
    padding-top: 50px;
}


.portfolio__container-title {
    width: 600px;
    margin-top: 30px;
    max-width: 90vw;
}

.portfolio__container-title p {
    margin-top: 20px;
}