.skills-bar{
    padding: 25px 30px;
    width: 600px;
    background: #ffffff7a;
    box-shadow: 3px 5px 6px 0px rgb(0 0 0 / 12%);
    border-radius: 5px;
}

.skills-bar p{
    font-size: 14px;
}

.skills-bar .bar {
    margin: 20px 0;
}
.skills-bar .bar:first-child{
    margin-top: 0px;
}

.skills-bar .bar .info{
    margin-bottom: 5px;
}

@keyframes showText {
    100%{
        opacity: 1;
    }
}
.skills-bar .bar .progress-line{
    height: 30px;
    width: 100%;
    position: relative;
    background: #f0f0f0;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin:left;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: left;
    background:linear-gradient(to right, rgb(242,205,175) 0%, rgb(233,193,163) 50%, rgb(225,182,151) 100%);
    transform-origin:left;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    box-shadow: 3px 5px 6px 0px rgba(0,0,0,0.12);
}

.progress-line.php span{
    width: 100%;
}
.progress-line.js span{
    width: 90%;
}
.progress-line.html span{
    width: 90%;
}
.progress-line.nodejs span{
    width: 60%;
}
.progress-line.css span{
    width: 90%;
}
.progress-line.go span{
    width: 60%;
}

.bar .progress-line span::before{
    position: absolute;
    right: 0px;
    top: 5px;
    color: #fff;
    font-size: 13px;
    font-weight: lighter;
    padding: 1px 8px;
    border-radius: 3px;
    opacity: 0;
    animation: showText 0.5s 1.5s linear forwards;
}

@keyframes showText {
    100%{
        opacity: 1;
    }
} 

.progress-line.php span::before{
    content: 'PHP 100%';
}
.progress-line.js span::before{
    content: 'JS 90%';
}
.progress-line.html span::before{
    content: 'HTML 90%';
}
.progress-line.nodejs span::before{
    content: 'NODEJS 60%';
}
.progress-line.css span::before{
    content: 'CSS 90%';
}
.progress-line.go span::before{
    content: 'GO 60%';
}
