.tools__bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tools__bar-items {
    background: #fff;
    background-color: #fff;
    border-radius: 5px;
    width: 110px;
    height: 110px;
    box-shadow: 3px 5px 6px 0px rgb(0 0 0 / 12%);
    text-align: center;
    margin: 5px;
    padding: 6px;
}

.tools__bar-items p {
    font-size: 11px;
}

.tools {
    margin-top: 50px;
    background: linear-gradient(to right, rgb(249 240 233) 0%, rgb(245 225 210) 50%, rgb(255 204 167) 100%);
    height: 100%;
}

.tools-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 15px;
}

.tools-title {
    padding-top: 30px;
}
